extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content
    div.container
        h1 About
        h3 What is a gym?
        p A gym - physical exercises and activities performed inside, often using equipment, especially when done as a subject at school. Gymnasium is a large room with equipment for exercising the body and increasing strength or a club where you can go to exercise and keep fit.

        p A gym is a gymnasium, also known as health club and fitness centre. Gymnasiums have moved away just being a location for gymnastics. Where they had gymnastics apparatus such as bar bells, parallel bars, jumping boards and running path etc.

        h3 Choosing the right gym for you
        p Most gyms have a wide range of ages and levels of fitness. Don’t buy into the  preconception that it will be full of supreme athletes!

    

        h3 Personal training
        p Staff members tend to be qualified personal trainers or the club will tend to be able to put you in contact with a personal trainer who will devise a training plan and dietary advice to achieve your goals.




        h3 Staff
        p Members of staff do tend to be fit and healthy, smartly dressed in corporate clothing. They should be happy to explain and demonstrate whenever necessary. They should have knowledge across a wide range of exercise disciplines and many are also personal trainers. When you are on you initial visit look out for if the staff are helping and advising all members or only willing to advise clients who have paid for additional personal training session. You should check on staff qualifications and also view feedback from previous clients. Some memberships come with a specific training schedule designed to achieve your goals.
