doctype html
html
head
    title GET FITNESS GYM
block scripts
block style
body
  nav#navbar
        ul
            div#logo
                img(src="/static/img/mylogo.jpg")
                | GET FIT GYM
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classinfo") Class Info]
            li #[a(href="/registration") Registration]

block content

footer#footer
        |copywrite @ GET_FIT_GYM.com | All rights reserved