extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleClassinfo.css
block content
    div.container
        h1 Class Info
        h3 Accessibility
        p You may want to take into account the distance from your home and or work. As the further away it is the less convenient it may become.

        h3 Opening hours

        p Many have different preferences for when they like to train from early birds at 7 and 7 am till late at night when the gyms empty and you have no distractions. Opening hours is again something you may need to consider depending on your other commitments, child care, working hours etc. Also check weekend opening hours. Gym opening and closing times vary greatly with some of the larger open 6am till 11pm. Some gyms are now 24 hours! Also check holiday open hours.