
extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection
        div GET FIT GYM
        div.small Are you READY for The Fitness Challenge!!?? 

    section#missionSection
        h2 WE ASSURE YOU
        div.card
            h3 MORDERN EQUIPMENT
            div.card-box
                div.card-content
                    p Exercise equipment is getting a streamlined makeover, and some of the best fitness tools out there can even pass as cool sculptures or everyday decor.
        div.card
            h3 GOOD TRAINING
            div.card-box
                div.card-content
                    p Be consistent. Be diligent. Exert yourself. Don't leave any doubt in your mind that you tried as hard as you could. Most importantly: Trust the system. 
        div.card
            h3 HEALTHY DIET PLAN
            div.card-box
                div.card-content
                    p A healthy eating plan gives your body the nutrients it needs every day while staying within your daily calorie goal for weight loss

    section#sponsorsSection
        h2 THINK BEFORE YOU ACT
        p Regular exercise helps control weight when use with a balanced diet. Regular physical activity can help you prevent or manage a wide range of health problems and concerns, including stroke, metabolic syndrome, type 2 diabetes, depression, and certain types of cancer, arthritis and falls. Regular training helps reduce stress and improves moods. Regular weight training can improve muscle mass.
    