extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleServices.css
block content
    div.container
        h1 Services
        h3 What can I expect?
        p Free weights

        p Gyms have a main work out area which tends to be divided into a free weights section including dumbbells, bar bells. They may also have exercise machines with free weights or more commonly exercise machines will have their own section.

        h3 Cardiovascular

        p The Cardiovascular area with have machines including treadmills (running machines),   rowing machines, exercise bikes (stationary).

        h3 Classes

        p Classes are group sessions and separate room from the cardio and free weights. Examples of group class exercise include aerobics, Spin (cycling on a stationary bike), boxercise, high intensity training (HIT) and yoga.

        h3 Personal training
        p Staff members tend to be qualified personal trainers or the club will tend to be able to put you in contact with a personal trainer who will devise a training plan and dietary advice to achieve your goals.

        h3 Facilities
        p Facilities can vary greatly from gym to gym. Not just on a broad range of cardiovascular equipment including:

        p Treadmills, Rowers, stationary bikes, cross trainers, versa climbers (step machines), steppers, and rowing machines.

        h3 Resistance training equipment including:

        p  Fixed weight machines, dumbbells, barbells and weight plates.

        p Also clean toilets, changing and shower rooms and exercise mats, stability balls and space to exercise.

        p When choosing your gym you should check there is a number of the equipment you feel you will use more. If you are going to focus on free weight training (dumbbells etc) check they have multiple sets. On weight machines check they have setting from minimal weight to maximum weight to suit your capabilities. Also check have they been maintained and in good condition. If you are going to mainly use of cardio machines again check they have been well maintained, check they have adequate number of machines compared to gym members.

        p Larger gyms also may have studio classes, sports and injury therapy. Sports shop, juice bars, cafe and restaurant. Swimming pool, sauna, Jacuzzi, steam rooms. Tennis, squash and badminton courts. Some gyms also offer child care facilities.