
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
body{
    background-image: url("/static/mybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
h1{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou'; 
    margin:1px 0;
    color:white;
    font-size: 73px;
    background-color:#1916167a;
    box-shadow: inset 0px 20px 20px 6px black;
    text-shadow: -5px 0px 0px black;
}
.myform{
   
}
.container{
    height:80vh;
}
.myinput{
    display: block;
    margin: 3px auto;
    padding: 10px 95px 5px 68px;
    border: 3px solid black;
}
.btn{
    display:block;
    margin: 3px auto;
    padding: 10px 95px 5px 68px;
    border: 3px solid black;
    cursor: pointer;
    
}